server:
  port: 4000
  servlet:
    context-path: /inventory-service
spring:
  application:
    name: inventory-service

pactbroker:
  url: ${PACT_BROKER_URL:}
  auth:
    token: ${PACT_BROKER_TOKEN:}
