name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      pact_url:
        description: 'URL of the pact to verify (optional)'
        required: false
        default: ''
      consumer_version_tags:
        description: 'Consumer version tags (optional)'
        required: false
        default: ''
      consumer_version_number:
        description: 'Consumer version number (optional)'
        required: false
        default: ''
      provider_version_tags:
        description: 'Provider version tags (optional)'
        required: false
        default: ''

permissions:
  checks: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: ./mvnw clean verify -Dpactbroker.url=${{ secrets.PACT_BROKER_URL }} -Dpactbroker.auth.token=${{ secrets.PACT_BROKER_TOKEN }}
    
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: JUnit Tests
        path: target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true

  verify-pact:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.pact_url != ''
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Verify Pact Contract
      run: ./mvnw test -Dtest=PactProviderVerificationTest -Dpactbroker.url=${{ secrets.PACT_BROKER_URL }} -Dpactbroker.auth.token=${{ secrets.PACT_BROKER_TOKEN }} -Dpact.url=${{ github.event.inputs.pact_url }} -Dconsumer.version.tags=${{ github.event.inputs.consumer_version_tags }} -Dconsumer.version.number=${{ github.event.inputs.consumer_version_number }} -Dprovider.version.tags=${{ github.event.inputs.provider_version_tags }}
    
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: Pact Verification Tests
        path: target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true 